<div class="row d-flex justify-content-center gy-4">
    <div class="col-lg-4">
        <div class="right-form-area">
            <h3>Forget your Password</h3>
            <app-list-errors *ngIf="errorMessage" [errorMessage]="errorMessage"></app-list-errors>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="w-100">
                <div class="form-inner">
                    <label>Email Address*</label>
                    <input type="text" formControlName="email" placeholder="Email">
                </div>
                <button type="submit" class="account-btn" [disabled]="!forgetPasswordForm.valid">Reset Password</button>
            </form>
        </div>
    </div>
</div>
