<app-breadcrumb [title]="'Cart'" ></app-breadcrumb>
<section class="pt-70">
    <div class="container">
        <div class="row justify-content-center mb-50" *ngIf="currentNbrOfCartItems>0">
          <div class="col-lg-8">
            <div class="card">
              <button *ngIf="currentStep>0" type="button" (click)="goBackOneStep()" class="btn-back">
                <i class="bi bi-arrow-left-circle-fill"></i>
              </button>
              <p-steps [model]="steps" [(activeIndex)]="currentStep">
              </p-steps>
            </div>
          </div>
        </div>
      <ng-container *ngIf="currentStep == 0" >
        <div class="row justify-content-center" *ngIf="currentNbrOfCartItems>0;else noItems">
            <div class="col-lg-8" >
                <div class="card d-flex flex-column h-100" >
                    <div class="card-body">
                        <h5 class="card-title"><span class="orange-span fw-bold">Cart Summary</span></h5>
                        <hr>
                        <h6 class="card-text">Number of Items: <span class="fw-bold">{{order.items.length}}</span></h6>
                        <h6 class="card-text">Total Amount: <span class="fw-bold">{{totalPrice + currency}}</span></h6>
                        <div class="mt-auto p-3 text-end">
                          <button *ngIf="order.items.length>0" type="button" class="widget-btn checkout-btn" (click)="proceedToCheckout()">Proceed to checkout</button>
                        </div>
                    </div>
                </div>
            </div>
<!--          -->
            <div  class="col-lg-8">
                <div class="items-container" >
                    <div *ngFor="let orderItem of order.items" class="item-info">
                        <img [src]="orderItem.item.imageLink" alt="Item Image">
                        <div class="item-description">
                            <p class="item-p-info item-name"> {{ orderItem.item.name }}</p>
                            <div>
<!--                              <button (click)="decrement(orderItem.item.id)">-</button>-->
<!--                              <input type="number" placeholder="1" [value]="orderItem.quantity"  min="1" (input)="quantityChange(orderItem.item.id,$event)">-->
<!--                              <button (click)="increment(orderItem.item.id)">+</button>-->
                                  <app-number-input [value]="orderItem.quantity" (valueChange)="quantityChange(orderItem.item.id,$event)"></app-number-input>
                            </div>

                            <div class="item-price text-end"><span class="price">{{ orderItem.item.biddingPrice + currency }}</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <ng-template #noItems>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title text-center"><span style="color:#0C0D0D" class="fw-bold">Cart is still empty</span></h5>
                            <div class="text-center mt-50">
                                <button type="button" class="widget-btn explore-btn" (click)="navigateProducts()">Explore Items</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="currentStep === profileStepIndex">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><span class="orange-span fw-bold">Update your profile</span></h5>
                <hr>
                <app-profile-form [profileSavedExtraHandler]="this.profileSavedEventHandler.bind(this)"></app-profile-form>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="currentStep == addressStepIndex">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><span class="orange-span fw-bold">Add your address</span></h5>
                <hr>
                <app-address-form (addressFormSubmitted)="addressFormSubmitted($event)" ></app-address-form>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
</section>


