.contact-form .contact-input-group button[type=submit]:disabled{
  background: #9f9f9f;
}
.contact-form .contact-input-group button[type=submit]:disabled:hover{
  background: #9f9f9f;
  color:#fff;
}

.contact-form,
.contact-box-wrap{
  border-radius:10px;
}

.contact-box-wrap .single-contact-box{
  background: #e7e7e7;
}
.contact-form .contact-input-group button[type=submit]{
  background:#ff552e;
}
.contact-box-wrap{
    .single-contact-box{
        background-color:#00152B;

        .weblink,.mail,h6{
            color:#fff;
        }

        &:hover{
            a,h6{
                color: var(--orange-color);
            }
        }
    }
}
