<!--<app-breadcrumb [title]="'Contact Us'" *ngIf="showBreadcrumb"></app-breadcrumb>-->
<!-- =============== contact wrapper start =============== -->
<div class="contact-wrapper mt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header mx-auto text-center">
          <h3>Got a Question or Comment?</h3>
          <p>Feel free to contact us. We will try to reply as soon as possible!</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mt-5 mt-lg-0">
        <div class="contact-form">
          <h4>Questions or Comments?</h4>
          <form [formGroup]="contactUsForm" (submit)="submitForm()" action="#" id="contact_form" method="post">
            <div class="contact-input-group">
              <label for="your-name">Name</label>
              <input type="text" id="your-name" placeholder="Your name" formControlName="fullName" />
            </div>
            <div class="contact-input-group">
              <label for="email">Email</label>
              <input type="text" id="email" placeholder="Your email" formControlName="email" />
            </div>
            <div class="contact-input-group">
              <label for="subject">Subject</label>
              <select id="subject" formControlName="subject" class="nice-select">
                <option *ngFor="let option of subjectsOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </div>
            <div class="contact-input-group">
              <label for="message">Message</label>
              <textarea
                id="message"
                cols="30"
                rows="7"
                resize="none"
                placeholder="Type your Message"
                formControlName="message"
              ></textarea>
            </div>
            <div class="contact-input-group mt-0 text-end">
              <button type="submit" class="submit-btn" [disabled]="!contactUsForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =============== contact wrapper end =============== -->
<!--<app-dialog></app-dialog>-->
<p-toast></p-toast>
