.contact-form .contact-input-group button[type=submit]:disabled{
  background: #9f9f9f;
}
.contact-form .contact-input-group button[type=submit]:disabled:hover{
  background: #9f9f9f;
  color:#fff;
}
