<app-breadcrumb [title]="'Product Details'"></app-breadcrumb>
<!-- =============== breadcrumb area end =============== -->
<section class="auction-details-section pt-110 bg--dark">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="item-bid-timer">
          <div class="auction-bid">
            <p>Current Bid</p>
            <h5>$ {{ product.biddingPrice }}</h5>
          </div>
          <div *ngIf="product.drawScheduledAt" class="auction-timer">
            <div class="countdown" id="timer4">
              <countdown #cd [config]="config"> </countdown>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane big-image fade show active" id="gallery-img1">
            <img src="{{ product.imageLink }}" alt="{{ product.name }}" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="widget-right-area">
          <h4>{{ product.name }}</h4>
          <div class="single-widget">
            <h5 class="wdget-title">Product Overview</h5>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="describe-content">
                  <p class="mb-15">
                    {{ product.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="single-widget">
            <h5 class="wdget-title wdget-title2">Bid Now</h5>
            <p class="widget-subtitle">Bid Quantity : Minimum quantity 1</p>
            <form [formGroup]="bidForm" class="widget-form" (ngSubmit)="bidNow(product.id)">
              <div class="form-group d-flex justify-content-center align-items-center">
                <input
                  type="number"
                  placeholder="1"
                  value="1"
                  formControlName="quantity"
                  min="1"
                  (change)="quantityChange()" />
                <button type="submit" [disabled]="!bidForm.valid" class="widget-btn">Place Bid</button>
              </div>
              <p class="widget-subtitle price-info">
                Amount you'll pay for buying <span class="orange-span">{{ quantity }}</span> bid(s) is:
                <span class="orange-span">{{ total }} $</span>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dialog></app-dialog>
<p-toast key="confirm" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column align-items-start" style="flex: 1">
      <div class="font-medium text-lg my-3 text-900">{{ message.summary }}</div>
      <div class="ml-auto">
        <p-button class="p-button-sm" label="View My Cart" (click)="viewCartClick()"></p-button>
      </div>
    </div>
  </ng-template>
</p-toast>
