$orange-color:var(--orange-color);

.widget-btn:disabled{
  background: #9f9f9f;
}
.widget-btn:disabled:hover{
  background: #9f9f9f;
  color:#fff;
}
.item-bid-timer,
.details-social-area ul i{
  background:$orange-color;
}
.widget-right-area h4,
.widget-right-area .paragraph,
.wdget-title,
.widget-subtitle,
.details-social-area ul i,
.describe-content p
{
  color: #e2e2e2;
}

.wdget-title::before,
.wdget-title::after{
  background: #e2e2e2;
}
.widget-right-area{
  border-radius: 10px;
  box-shadow: 1px 1px 10px $orange-color;
  padding: 10px;
  background-color: #111313;
}
.orange-span{
  color:$orange-color;
}
.price-info{
  margin-top: 10px;;
}