<div class="contact-form">
  <p class="error" [textContent]="errorMsg"></p>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" id="change-password-form" method="post">
    <div class="contact-input-group">
      <label for="current-password">Current Password</label>
      <input type="password" id="current-password" placeholder="" formControlName="currentPass">
    </div>
    <div class="contact-input-group">
      <label for="new-password">New Password</label>
      <input type="password" id="new-password" placeholder="" formControlName="newPass">
    </div>
    <div class="contact-input-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" placeholder="" formControlName="confirmNewPassword">
    </div>
    <div class="contact-input-group text-end">
      <button type="submit" class="submit-btn" [disabled]="!changePasswordForm.valid">Change Password</button>
    </div>
  </form>
</div>