.result-content-section{
    margin-bottom:200px;
}
.result-content-section h1{
    color:var(--orange-color);
    margin-bottom: 20px;
}

.result-content-section h4{
    color:var(--labels-color);
}
