<app-breadcrumb [title]="'FAQ'" ></app-breadcrumb>
<section class="faq-section pt-110">
  <div class="container">
    <div class="row gy-5 justify-content-center">
<!--      <div class="col-lg-4 order-lg-1 order-2">-->
<!--        <div class="faq-left-area">-->
<!--          <div class="article">-->
<!--            <div class="article-header">-->
<!--              <h5>Most Popular Articles</h5>-->
<!--            </div>-->
<!--            <ul class="article-body">-->
<!--              <li>-->
<!--                <h6>01. How does bidding work on [Your Website Name]</h6>-->
<!--                <p>“Lorem ipsum dolor sit amet, consectetur adi scing elit, sed do eiusmod tempor incididunt   ut labore et dolore</p>-->
<!--              </li>-->
<!--              <li>-->
<!--                <h6>02. How to Win Bid</h6>-->
<!--                <p>“Lorem ipsum dolor sit amet, consectetur adi scing elit, sed do eiusmod tempor incididunt   ut labore et dolore</p>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="qsn-area">-->
<!--            <h5>HAVE ANY QUESTIONS?</h5>-->
<!--            <form class="qsn-form">-->
<!--              <div class="form-inner">-->
<!--                <label>Your Name</label>-->
<!--                <input type="text" name="name" placeholder="Type your name ">-->
<!--              </div>-->
<!--              <div class="form-inner">-->
<!--                <textarea name="message" rows="5" placeholder="Type your question"></textarea>-->
<!--              </div>-->
<!--              <button class="qsn-send-btn">Submit Now</button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-lg-10 order-lg-2 order-1">
        <!-- faq -->
        <div class="faq-wrap">
          <div class="faq-item">
            <h5 class="accordion-button" id="heading01" data-bs-toggle="collapse" data-bs-target="#collapse01" aria-controls="collapse01">
              <span class="faq-serial">01</span> How does bidding work on Get Luck?
            </h5>
            <div id="collapse01" class="accordion-collapse collapse show" >
              <div class="faq-body">
                Bidding is simple! Once you've registered and logged in, find an item you like, enter your bid amount, and hit "Place Bid." If your bid is the highest when the auction ends, you win!
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading02" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse02" aria-controls="collapse02">
              <span class="faq-serial">02</span> Is there a limit to the number of bids I can place?
            </h5>
            <div id="collapse02" class="accordion-collapse collapse">
              <div class="faq-body">
                No, there's no limit! You're welcome to place as many bids as you'd like on different items.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading03" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse03" aria-controls="collapse03">
              <span class="faq-serial">03</span> Can I retract a bid once it's placed?
            </h5>
            <div id="collapse03" class="accordion-collapse collapse" >
              <div class="faq-body">
                Unfortunately, bids cannot be retracted once they're submitted. Make sure to bid responsibly and only on items you genuinely intend to purchase.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading04" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse04" aria-controls="collapse04">
              <span class="faq-serial">04</span> How long do auctions typically last?
            </h5>
            <div id="collapse04" class="accordion-collapse collapse">
              <div class="faq-body">
                Auction durations vary per item. Each item listing will specify the start and end time, ranging from a few days to several weeks.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading05" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse05" aria-controls="collapse05">
              <span class="faq-serial">05</span> Are there any hidden fees beyond the winning bid?
            </h5>
            <div id="collapse05" class="accordion-collapse collapse">
              <div class="faq-body">
                No hidden fees! The winning bid amount is the final price you'll pay, excluding shipping costs if applicable.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading06" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse06" aria-controls="collapse06">
              <span class="faq-serial">06</span> Is my personal information secure on your platform?
            </h5>
            <div id="collapse06" class="accordion-collapse collapse">
              <div class="faq-body">
                Absolutely. We take your privacy seriously and employ robust security measures to safeguard your information.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading07" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse07" aria-controls="collapse06">
              <span class="faq-serial">07</span> Can I sell my own items on GetLuck?
            </h5>
            <div id="collapse07" class="accordion-collapse collapse">
              <div class="faq-body">
                At the moment, we're focused on curated auctions. However, we're considering expanding our offerings in the future.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading08" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse08" aria-controls="collapse06">
              <span class="faq-serial">08</span> How do I know if I've won an auction?
            </h5>
            <div id="collapse08" class="accordion-collapse collapse">
              <div class="faq-body">
                You'll receive a notification via email you've won an auction. Additionally, winners will be listed on the item's page.
              </div>
            </div>
          </div>
          <div class="faq-item">
            <h5 id="heading09" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse09" aria-controls="collapse06">
              <span class="faq-serial">09</span> What forms of payment do you accept?
            </h5>
            <div id="collapse09" class="accordion-collapse collapse">
              <div class="faq-body">
                We currently accept secure online payments via credit/debit cards or other designated payment methods specified at checkout.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-us [showBreadcrumb]="false"></app-contact-us>
