<div class="row d-flex justify-content-center gy-4">
    <div class="col-lg-6">
        <div class="right-form-area">
            <h3>Reset your Password</h3>
            <app-list-errors *ngIf="errorMessage" [errorMessage]="errorMessage"></app-list-errors>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="w-100">
                <div class="form-inner">
                    <label>New Password*</label>
                    <input type="password" formControlName="newPassword" placeholder="New Password">
                </div>
                <div class="form-inner">
                    <label>Confirm New Password*</label>
                    <input type="password" formControlName="confirmNewPassword" placeholder="Confirm New Password">
                </div>
                <button type="submit" class="account-btn" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </form>
        </div>
    </div>
</div>
