//$font1 : "Nunito", sans-serif;
//$font2 : 'Roboto', sans-serif;
//$font3 : 'Quicksand', sans-serif;
//
//$primary-color: #000915;
//
//$title-color: #00152B;
//$subtitle-color :#454545;
//$orange-color: #FF552E;
:root{
  --font1: "Nunito", sans-serif;
  --font2 : 'Roboto', sans-serif;
  --font3 : 'Quicksand', sans-serif;

  --primary-color: #000915;

  --title-color: #00152B;
  --subtitle-color :#454545;
  --orange-color: #FF552E;
  --labels-color:#c1c1c1;
}


$font1 : "Nunito", sans-serif;
$font2 : 'Roboto', sans-serif;
$font3 : 'Quicksand', sans-serif;

$primary-color: #000915;

$title-color: #00152B;
$subtitle-color :#454545;
$orange-color: #FF552E;
$forms-bg-color:#e1e1e1;