<!-- =============== footer area start =============== -->
<footer class="footer area footer-style-three">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 order-1 order-lg-1">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-sm-6">
                            <div class="footer-widget">
                                <h5 class="widget-title">Quick Links</h5>
        
                                <ul class="widget-links">
                                    <li><a href="login.html">My Account</a></li>
                                    <li><a href="about.html">Affiliate Program</a></li>
                                    <li><a href="contact.html">Lawyer Consulting</a></li>
                                    <li><a href="#">Sorteo Locemses</a></li>
                                    <li><a href="privacy.html">Privacey Policy</a></li>
                                    <li><a href="#">Term & Condition</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-sm-6 d-flex justify-content-lg-center">
                            <div class="footer-widget ">
                                <h5 class="widget-title">Help Center</h5>
                                <ul class="widget-links">
                                    <li><a href="contact.html">Help Center</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="#">Borrow</a></li>
                                    <li><a href="contact.html">License Agreement</a></li>
                                    <li><a href="#">Sell your Product</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-2 order-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">Contact Us</h5>
                        <ul class="footer-contact-list">
                            <li>
                                <div class="contact-icon"><i class="bi bi-telephone-plus"></i></div>
                                <div class="contact-list">
                                    <a href="tel:+8801723244649">+880 172 3244 649</a>
                                    <a href="tel:+8801723244649">+880 172 3244 649</a>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon"><i class="bi bi-envelope"></i></div>
                                <div class="contact-list">
                                    <a href="mailto:info&#64;example.com">info&#64;example.com</a>
                                    <a href="mailto:support&#64;example.com">support&#64;example.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon"><i class="bi bi-geo-alt"></i></div>
                                <div class="contact-list">
                                    <a href="#">168/170, Avenue 01, ADDRESS, Bangladesh</a>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 order-0 order-lg-3">
                    <div class="footer-widget">
                        <div class="footer-disc">
                            <a href="index.html"><img src="assets/images/icon/orange-logo.png" alt=""></a>

                            <p>Auction Lab is one of the most amazing companies ever for painting all over the world.</p>
                        </div>

                        <div class="footer-social-wrap">
                            <ul class="footer-social-links">
                                <li><a href="https://www.facebook.com"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="https://twitter.com"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="https://www.pinterest.com"><i class="bx bxl-pinterest"></i></a></li>
                                <li><a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-center mx-0">
        <div class="col-md-6 text-center ">
            <div class="copyright">
                Copyright 2022 <span>Bidgen</span> | Design By<span> Egens Theme</span>
            </div>
        </div>
    </div>
</footer>
<!-- =============== footer area end =============== -->