<!-- =============== footer area start =============== -->
<footer class="footer area footer-style-three">
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-1">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6">
              <div class="footer-widget">
                <h5 class="widget-title">Quick Links</h5>
                <ul class="widget-links">
                  <li><a href="privacy.html" [routerLink]="['/pages/privacy-policy']">Privacy Policy</a></li>
                  <li><a href="terms.html" [routerLink]="['/pages/terms-conditions']">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 d-flex justify-content-lg-center">
              <div class="footer-widget">
                <h5 class="widget-title">Help Center</h5>
                <ul class="widget-links">
                  <li><a href="contact.html" [routerLink]="['/pages/contact-us']">Contact Us</a></li>
                  <li><a href="faq.html" [routerLink]="['/pages/faq']">FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 order-0 order-lg-3">
          <div class="footer-widget">
            <div class="footer-disc">
              <a href="index.html"><img src="assets/images/logo.png" style="height: 50px; width: 50px" alt="logo" /></a>
              <p>GetLuck: bid small and win big!</p>
            </div>

            <div class="footer-social-wrap">
              <ul class="footer-social-links">
                <li>
                  <a href="https://www.facebook.com"><i class="bx bxl-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-bottom d-flex justify-content-center mx-0">
    <div class="col-md-6 text-center">
      <div class="copyright">Copyright 2024 <span>GetLuck</span></div>
    </div>
  </div>
</footer>
<!-- =============== footer area end =============== -->
