<div *ngIf="showResult" class="error-wrapper-start mt-110">
  <div class="container">
    <div class="col-lg-12">
      <div class="error-content text-center">
        <div class="error-illustration">
          <img src="assets/images/shape/green-tick.png" alt="success" class="img-fluid" />
        </div>

        <div class="error-texts justify-content-center mx-auto text-center">
          <h2>Thank You!</h2>
          <h4>Your account has been confirmed; you can now log in.</h4>
          <div class="back-btn">
            <a href="" [routerLink]="['/auth/login']" class="alpha-btn-md-dark">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
