<app-breadcrumb [title]="'Privacy Policy'" ></app-breadcrumb>
<div class="privacy-policy-wrapper mt-110">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">

        <!-- privacy policy buttons -->
        <div class="pp-buttons-wrap">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-btn-pp1" data-bs-toggle="pill" data-bs-target="#v-pills-pp1" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="true">Information </button>
<!--            <button class="nav-link" id="v-btn-pp2" data-bs-toggle="pill" data-bs-target="#v-pills-pp2" type="button" role="tab" aria-controls="v-pills-pp2" aria-selected="false">Notification</button>-->
<!--            <button class="nav-link" id="v-btn-pp3" data-bs-toggle="pill" data-bs-target="#v-pills-pp3" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Affiliate Companies </button>-->
<!--            <button class="nav-link" id="v-btn-pp4" data-bs-toggle="pill" data-bs-target="#v-pills-pp4" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Occasionally</button>-->
          </div>
        </div>
      </div>
      <div class="col-lg-8 pt-5 pt-lg-0">

        <!-- privacy policy tabcontents -->
        <div class="tab-content pp-tab-contents" id="v-pills-tabContent">
          <div class="tab-pane fade show active pp-tab-body" id="v-pills-pp1" role="tabpanel" aria-labelledby="v-btn-pp1">
            <div class="tab-inner-contentbox mt-0">
              <h5 class="pp-title pt-0">Introduction</h5>
              <em>Last Updated: 2024-03-01</em>
              <p>This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our web
                app.
                By accessing or using our services, you acknowledge and consent to the terms outlined in this Privacy Policy.</p>
              <h5 class="pp-title">1. Personal Information Collection:</h5>
              <p>We collect your email for login, name and address for delivery, and date of birth to ensure compliance with legal age
                requirements.
              </p>
              <h5 class="pp-title">2. No Tracking and Non-Disclosure:</h5>
              <p>
                We do not track your device information, including current location, IP address and browsing activity,
                nor do we sell your information to third parties.
                We are committed to maintaining the confidentiality of your data.
              </p>

<!--              <h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>-->

<!--              <ul class="pp-list">-->
<!--                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</li>-->
<!--                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </li>-->
<!--              </ul>-->

              <h5 class="pp-title">3. Usage Analytics:</h5>
              <p>We may collect information regarding your usage of the web app for analytical purposes.
                This information is used exclusively to enhance the user experience, identify areas for improvement, and optimize the functionality of our services.</p>

              <h5 class="pp-title">4. Data Retention:</h5>
              <p>While data may be kept indefinitely, you have the right to be forgotten. You can request the removal of all your data
                from our systems in compliance with GDPR.
              </p>


              <h5 class="pp-title">5. Payment Details:</h5>
              <p>Your payment details are securely stored using third-party service provider XYZ.
              </p>
              <h5 class="pp-title">6. Password Security:</h5>
              <p>Passwords are hashed, ensuring they cannot be viewed, even by our system administrators. We use TLS technology to secure data transmission between you and our servers.</p>

              <h5 class="pp-title">7. Security Disclaimer:</h5>
              <p>We employ robust security measures to ensure the secure storage of your data. However, it is important to note that no system is entirely immune to the risk of data breaches. While we take every reasonable precaution to safeguard your information, we cannot guarantee absolute security. Therefore, we are not liable for any data breach that may occur. We strongly advise you to use strong, unique passwords for your account and refrain from using the same password across different applications and services. Your cooperation in maintaining secure access to your account plays a crucial role in protecting your personal information.</p>

              <h5 class="pp-title">8. Winner Selection and Privacy:</h5>
              <p>Lottery winners are selected at random using robust algorithms to ensure fairness and prevent manipulation. Winner information will not be shared publicly. Winners will receive an email notification, and the item will be delivered to the provided address.</p>

              <h5 class="pp-title">9. Google Cookies for OAuth Login:</h5>
              <p>Cookies may be used by Google to facilitate OAuth login.</p>

              <h5 class="pp-title">10. Updates to Privacy Policy:</h5>
              <p>We reserve the right to update this Privacy Policy. Please review it periodically for any changes. The date of the last update is provided at the beginning of the policy.</p>

              <h5 class="pp-title">11. Legal Compliance:</h5>
              <p>We are committed to complying with applicable data protection laws and regulations.</p>

            </div>

            <div class="tab-inner-contentbox">
              <h5 class="pp-title pt-0">How you can contact us</h5>
              <p>For privacy-related inquiries, contact us at privacy.getluck&#64;gmail.com</p>
            </div>
<!--            <div class="tab-inner-contentbox">-->
<!--              <h5 class="pp-title pt-0">Additional Information</h5>-->
<!--              <p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>-->
<!--            </div>-->
          </div>
          <div class="tab-pane fade" id="v-pills-pp2" role="tabpanel" aria-labelledby="v-btn-pp2">

          </div>
          <div class="tab-pane fade" id="v-pills-pp3" role="tabpanel" aria-labelledby="v-btn-pp3">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
