.highlighted-span{
  color:#FF552E;
  font-weight:bold;
}

.contact-image{
  border-radius: 50%;
  padding: 10px;
  width: 250px;
  height: 290px;
  box-shadow: #636363 10px 10px 10px;
}
.contact-card{
  padding:10px;
  background-color: #e3e3e3;
  box-shadow: #0b0b0b 7px 5px 25px;
  border-radius: 10%;
}
.contact-card h3{
  margin-top:1%;
  color:#FF552E;
}
.about-disc h2{
  margin-top:7%;
}
.about-wrpper .about-disc h2,
{
  color:#e7e7e7;
}

.about-wrpper .about-disc h2::before,
.about-wrpper .about-disc .highlighted-texts::before{
  background:#e7e7e7;
}

.about-wrpper .about-disc .highlighted-texts h4,
.about-wrpper .about-disc p{
  color:#aeaeae;
}

