<app-breadcrumb [title]="'About Us'"></app-breadcrumb>
<div class="about-wrpper">
  <div class="container">
    <div class="about-disc-wrap row gy-5">
      <div class="col-lg-12">
        <div class="about-disc">
          <h2>About us</h2>
          <div class="highlighted-texts">
            <h4>The bidding platform for everyone.</h4>
          </div>
          <p>
            Welcome to <span class="highlighted-span">GetLuck</span>, a platform born out of passion and expertise,
            created by two driven individuals with a shared love for technology and innovation.
          </p>

          <h2>Our Story</h2>
          <p>
            Both seasoned developers, we embarked on a journey to develop
            <span class="highlighted-span">GetLuck</span> from the ground up. Our inspiration stemmed from a desire to
            infuse excitement and accessibility into the world of online lottery.
          </p>
          <h2>What Sets Us Apart</h2>
          <p>
            What distinguishes us is not just the functionality of our platform, but the passion and dedication poured
            into it. We value user feedback and continuously work to enhance the bidding process, ensuring a secure and
            enjoyable experience for all participants.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
