<app-breadcrumb [title]="'About Us'" ></app-breadcrumb>
<div class="about-wrpper pt-110">
  <div class="container">
    <div class="row gy-5 mb-5">
      <div class="col-lg-6 ">
        <div class="contact-card text-center ">
          <img src="assets/images/raf.png" alt="" class="img-fluid contact-image">
          <h3>Raafat Waheb</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-card text-center">
          <img src="assets/images/sam.jpg" alt="" class="img-fluid contact-image">
          <h3>Samah Daou</h3>
        </div>
      </div>
    </div>
    <!-- about discription -->
    <div class="about-disc-wrap row gy-5">
<!--      <div class="col-lg-6">-->
<!--        <div class="about-disc-img">-->
<!--          <img src="assets/images/image-group/about-image-group.png" alt="" class="img-fluid">-->
<!--        </div>-->
<!--      </div>-->

      <div class="col-lg-12">
        <div class="about-disc">
          <h2 >About us</h2>
          <div class="highlighted-texts">
            <h4>The auction platform for everyone.</h4>
          </div>
          <p>Welcome to <span class="highlighted-span">Get Luck</span>, a platform born out of passion and expertise,
            created by two driven individuals with a shared love for technology and innovation.
            Meet Samah Daou and Raafat Waheb, Lebanese expatriates who brought their skills to the Netherlands,
            and united by a common vision to revolutionize the online bidding experience.</p>

          <h2>Our Story</h2>
          <p><span class="highlighted-span">Samah and Raafat</span>, both seasoned developers, embarked on a journey to develop <span class="highlighted-span">Get Luck</span> from the ground up.
            Their inspiration stemmed from a desire to infuse excitement and accessibility into the world of online auctions.
            Drawing from their diverse backgrounds and experiences, they meticulously crafted this platform to offer a seamless,
            user-friendly, and engaging bidding experience.</p>
          <h2>What Sets Us Apart</h2>
          <p>What distinguishes us is not just the functionality of our platform, but the passion and dedication poured into every line of code.
            We value user feedback and continuously work to enhance the bidding process, ensuring a secure and enjoyable experience for all participants.</p>

<!--          <ul class="about-disc-list">-->
<!--            <li><img src="assets/images/icon/arrow-right-fancy.svg" alt=""> <span>Unrivaled Auction-->
<!--                                    Service</span></li>-->
<!--            <li><img src="assets/images/icon/arrow-right-fancy.svg" alt=""> <span>Extensive-->
<!--                                    Marketing</span></li>-->
<!--            <li><img src="assets/images/icon/arrow-right-fancy.svg" alt=""> <span>Existing Corporate-->
<!--                                    Client Database</span></li>-->
<!--          </ul>-->
<!--          <div class="about-disc-bottom d-flex align-items-center gap-5 flex-wrap">-->
<!--            <a href="auction-details.html" class="alpha-btn-md-dark">More Details</a>-->
<!--            <div class="ceo-info d-flex align-items-center gap-3">-->
<!--              <div class="ceo">-->
<!--                <img src="assets/images/image-group/ceo.png" alt="">-->
<!--              </div>-->
<!--              <div class="ceo-disc">-->
<!--                <h5>Kathryn Murphy</h5>-->
<!--                <span>CEO Auction Lab</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>

    <!-- about features -->
<!--    <div class="about-features pt-110">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <div class="section-header-two text-center">-->
<!--            <h3>What Can Auction Lab Expert</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row g-4">-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="about-feature-card">-->
<!--            <div class="feat-intex">-->
<!--              <span>01</span>-->
<!--            </div>-->
<!--            <h4>Real time Auction</h4>-->
<!--            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis-->
<!--              obcaecati </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="about-feature-card">-->
<!--            <div class="feat-intex">-->
<!--              <span>02</span>-->
<!--            </div>-->
<!--            <h4>Support Multiple Currecncy</h4>-->
<!--            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis-->
<!--              obcaecati </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="about-feature-card">-->
<!--            <div class="feat-intex">-->
<!--              <span>03</span>-->
<!--            </div>-->
<!--            <h4>Winner Announcement</h4>-->
<!--            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis-->
<!--              obcaecati </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="about-feature-card">-->
<!--            <div class="feat-intex">-->
<!--              <span>04</span>-->
<!--            </div>-->
<!--            <h4>Supports Multiple Currency</h4>-->
<!--            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis-->
<!--              obcaecati </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="about-feature-card">-->
<!--            <div class="feat-intex">-->
<!--              <span>05</span>-->
<!--            </div>-->
<!--            <h4>Show All Bidders history</h4>-->
<!--            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis-->
<!--              obcaecati </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="about-feature-card">-->
<!--            <div class="feat-intex">-->
<!--              <span>06</span>-->
<!--            </div>-->
<!--            <h4>Add to Watchlist</h4>-->
<!--            <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis-->
<!--              obcaecati </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
  <!-- top winner slider -->
<!--  <div class="top-winner-area top-winnner-style-two mt-110">-->
<!--    <div class="container position-relative">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <div class="section-header-two">-->
<!--            <h3>Top winner</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="swiper winner-slider position-relative">-->
<!--        <div class="swiper-wrapper ">-->
<!--          <div class="swiper-slide">-->
<!--            <div class="winner-gamma">-->
<!--              <div class="winner-image">-->
<!--                <img src="assets/images/winner/winner-b1.png" alt="">-->
<!--              </div>-->
<!--              <div class="winner-info">-->
<!--                <h5 class="winner-name"><a href="winner.html">Esther Howard</a></h5>-->
<!--                <p class="id">ID: 0195608</p>-->

<!--                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <div class="winner-gamma">-->
<!--              <div class="winner-image">-->
<!--                <img src="assets/images/winner/winner-b2.png" alt="">-->
<!--              </div>-->
<!--              <div class="winner-info">-->
<!--                <h5 class="winner-name"><a href="winner.html">Eleanor Pena</a></h5>-->
<!--                <p class="id">ID: 0195654</p>-->

<!--                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <div class="winner-gamma">-->
<!--              <div class="winner-image">-->
<!--                <img src="assets/images/winner/winner-b3.png" alt="">-->
<!--              </div>-->
<!--              <div class="winner-info">-->
<!--                <h5 class="winner-name"><a href="winner.html">Albert Flores</a></h5>-->
<!--                <p class="id">ID: 0195864</p>-->

<!--                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <div class="winner-gamma">-->
<!--              <div class="winner-image">-->
<!--                <img src="assets/images/winner/winner-b4.png" alt="">-->
<!--              </div>-->
<!--              <div class="winner-info">-->
<!--                <h5 class="winner-name"><a href="winner.html">Robert Fox</a></h5>-->
<!--                <p class="id">ID: 0195767</p>-->

<!--                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <div class="winner-gamma">-->
<!--              <div class="winner-image">-->
<!--                <img src="assets/images/winner/winner-b5.png" alt="">-->
<!--              </div>-->
<!--              <div class="winner-info">-->
<!--                <h5 class="winner-name"><a href="winner.html">Jane Cooper</a></h5>-->
<!--                <p class="id">ID: 0195608</p>-->

<!--                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <div class="winner-gamma">-->
<!--              <div class="winner-image">-->
<!--                <img src="assets/images/winner/winner-b6.png" alt="">-->
<!--              </div>-->
<!--              <div class="winner-info">-->
<!--                <h5 class="winner-name"><a href="winner.html">Jenny Wilson</a></h5>-->
<!--                <p class="id">ID: 0195608</p>-->

<!--                <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; arrows &ndash;&gt;-->
<!--      <div class="slider-arrows text-center d-lg-flex d-none ">-->
<!--        <div class="winner-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>-->
<!--        <div class="winner-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
</div>
<!-- =============== about wrapper end =============== -->
