.addresses-wrapper{
    background: #FFFFFF;
    box-shadow: 0 0 11px var(--orange-color);
    padding: 10px 15px 40px;
    border-radius:10px;
    color:#000000;

}

.orange-span{
    color:var(--orange-color);
}
