<div *ngIf="product  && showProduct">
  <div class="product-card product-art-alpha">
    <div class="product" style="text-align: center">
      <img [src]="product.imageLink" (click)="redirectToDetails()" class="product-image" style="" alt="">
      <div *ngIf="showCountdown" class="countdown" id="countdownNEW">
        <h6>
          <countdown #cd [config]="config" (event)="handleEvent($event)">
          </countdown>
        </h6>
      </div>
    </div>
    <div class="product-disc">
      <h5 class="product-title"><a href="" [routerLink]="['/products/details', product.id]">{{product.name}}</a></h5>
      <div class="product-metas">
        <div class="author">
          <div class="price">
            <ins>${{product.biddingPrice}}</ins>
          </div>
        </div>
      </div>
      <div class="product-footer">
          <a href="" [routerLink]="['/products/details', product.id]" class="product-btn">Bid Now</a>
          <ul class="product-actions">
<!--              <li><i class="bi bi-heart"></i></li>-->
<!--              <li><i class="bi bi-three-dots-vertical"></i></li>-->
          </ul>
      </div>
    </div>
  </div>
</div>
