<section class="register-section">
  <div class="container">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-12">
        <div class="register-btn-group">
          <a href="" routerLink="/auth/register" class="register-btn style2">Sign Up</a>
          <a href="" routerLink="/auth/login" class="login-btn style2">Login</a>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center gy-4">
      <div class="col-lg-6">
        <div class="right-form-area">
          <h3>Login Your Account</h3>
          <app-list-errors *ngIf="errorMessage" [errorMessage]="errorMessage"></app-list-errors>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-100">
            <div class="form-inner">
              <label for="email">Email *</label>
              <input type="text" id="email" formControlName="email" placeholder="Email" />
            </div>
            <div class="form-inner">
              <label for="password">Password *</label>
              <input
                [type]="passwordInClear ? 'text' : 'password'"
                formControlName="password"
                name="password"
                id="password"
                placeholder="Password" />
              <i
                class="bi"
                [ngClass]="{
                  'bi-eye-slash': !passwordInClear,
                  'bi-eye': passwordInClear
                }"
                (click)="togglePasswordInClear()"
                id="togglePassword"></i>
            </div>
            <div class="d-flex flex-wrap mb-3">
              <a href="#" routerLink="/auth/forget-password">Forgotten Password?</a>
            </div>
            <button type="submit" class="account-btn" [disabled]="!loginForm.valid">LOGIN ACCOUNT</button>
          </form>
          <div class="alternate-signup-box">
            <h6>&mdash;&mdash; or &mdash;&mdash;</h6>
            <div class="btn-group gap-4">
              <google-login [successfulLogin]="onSuccessfulLogin"></google-login>
              <!--a
                href="javascript:void(0);"
                (click)="loginWithFacebook()"
                class="facebook-btn d-flex align-items-center"
              >
                <i class="bx bxl-facebook"></i>Login with Facebook
              </!a-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
