<div class="contact-wrapper ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3">
        <div class="pp-buttons-wrap">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-btn-pp1" data-bs-toggle="pill" data-bs-target="#v-pills-pp1" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="true">Personal Information</button>
            <button class="nav-link" id="v-btn-pp2" data-bs-toggle="pill" data-bs-target="#v-pills-pp2" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Credentials</button>
            <button class="nav-link" id="v-btn-pp3" data-bs-toggle="pill" data-bs-target="#v-pills-pp3" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Manage Addresses</button>
            <!--            <button class="nav-link" id="v-btn-pp2" data-bs-toggle="pill" data-bs-target="#v-pills-pp2" type="button" role="tab" aria-controls="v-pills-pp2" aria-selected="false">Notification</button>-->
            <!--            <button class="nav-link" id="v-btn-pp3" data-bs-toggle="pill" data-bs-target="#v-pills-pp3" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Affiliate Companies </button>-->
            <!--            <button class="nav-link" id="v-btn-pp4" data-bs-toggle="pill" data-bs-target="#v-pills-pp4" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Occasionally</button>-->
          </div>
        </div>
      </div>
      <div class="col-lg-9 mt-8 mt-lg-0 ">
        <div class="tab-content pp-tab-contents" id="v-pills-tabContent">
          <div class="tab-pane fade show active pp-tab-body" id="v-pills-pp1" role="tabpanel" aria-labelledby="v-btn-pp1">
            <div class="contact-form">

              <p class="error" [textContent]="errorMsg"></p>
              <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="profile-form" method="post">
                <div class="contact-input-group">
                  <label for="first-name">First Name</label>
                  <input type="text" id="first-name" placeholder="" formControlName="firstName">
                </div>
                <div class="contact-input-group">
                  <label for="first-name">Last Name</label>
                  <input type="text" id="last-name" placeholder="" formControlName="lastName">
                </div>
                <div class="contact-input-group">
                  <label for="email">Email</label>
                  <input type="text" id="email" placeholder="" formControlName="email">
                </div>
                <div class="contact-input-group">
                  <label for="phone-number">Phone Number</label>
                  <input type="text" id="phone-number" placeholder="" formControlName="phoneNumber">
                </div>
                <div class="contact-input-group">
                  <label for="date-of-birth">Date Of Birth</label>
                  <input type="date" id="date-of-birth" placeholder="" formControlName="dateOfBirth">
                </div>
                <div class="contact-input-group text-end">
                  <button type="submit" class="submit-btn" [disabled]="!profileForm.valid">Save Profile</button>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane fade show pp-tab-body" id="v-pills-pp2" role="tabpanel" aria-labelledby="v-btn-pp2">
              <app-change-password></app-change-password>
          </div>
          <div class="tab-pane fade show pp-tab-body" id="v-pills-pp3" role="tabpanel" aria-labelledby="v-btn-pp3">
            <app-addresses></app-addresses>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
