.win-process-area .section-header-two h3, .single-process .process-disc h4 a{
  color: #FF552E;
}
.section-header-two h3::after{
  background: #FF552E;
}
.section-header-two[_ngcontent-ng-c3079320633] h3[_ngcontent-ng-c3079320633]::before {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 15.63%, #454545 82.29%, rgba(255, 255, 255, 0) 100%);
}
